<template>
  <div class="games">
    <ul>
      <li>
        <router-link to="/simon">
            <img src = "../assets/simon.png" width="150" height="150" />
                <p>Simon</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<style>
ul{
  list-style-type:none;
  display:flex;
  justify-content: center;

}
ul li{
  display: list-item;
  padding: 5px 10px;
  color:white;
  margin: 0 3px;
}
</style>
