<template>
  <div id="app">
    <div class="buttons">
    <etat-component v-bind:etat='etat'></etat-component>
    <level-component v-bind:level='level'></level-component>
    <list-button v-for='(elem,index) in buttonList' :key='index'
    v-bind:name='elem.name'
    v-bind:class='[elem.isActive ? elem.activeClass : elem.classStyle]'
    v-on:click.native='switchButton(index)'>
    </list-button>
    </div>
    <router-view/>
  </div>
</template>

<script>
import EtatComponent from '../components/EtatComponent.vue'
import LevelComponent from '../components/LevelComponent.vue'
import ListButton from '../components/ListButton.vue'


export default {
  name: 'App',
  components: {
    'etat-component' : EtatComponent,
    'level-component' : LevelComponent,
    'list-button' : ListButton
  },
  data: function() {
        return { 
          buttonList: [
            {isActive : false, activeClass : 'premierButtonActif', classStyle : 'premierButton',name : 'Rouge'},
            {isActive : false, activeClass : 'deuxiemeButtonActif', classStyle : 'deuxiemeButton',name : 'Jaune'},
            {isActive : false, activeClass : 'troisiemeButtonActif', classStyle : 'troisiemeButton',name : 'Bleu'},
            {isActive : false, activeClass : 'quatriemeButtonActif', classStyle : 'quatriemeButton',name : 'Vert'},
            {isActive : false, activeClass : '', classStyle : 'start', name : 'Commencer'},
            {isActive : false, activeClass : '', classStyle : 'stop', name : 'Arreter'}
        ],
        level: 0,
        etat: "Arreter",
        listButtonClick : [],
        listButtonClickPlayeur : [],
        compteur : 0,
        compteurBon : 0
        }
    },
    methods: {
      gameStart: function(){
        this.level += 1
        this.etat = "En Cours"
        this.compteur = 0
        this.compteurBon = 0
        this.generate()
      },
      sequence: function(){
        for(let i = 0; i < this.listButtonClick.length; i++){
          setTimeout(() => this.clickButtonTest(this.listButtonClick[i]),700 * i)
        }
      },
      generate: function(){
        var random = Math.floor(Math.random() * Math.floor(3))
        this.listButtonClick.push(random)
        this.sequence()
      },
      gameStop: function(){
        this.compteur = 0
        this.compteurBon = 0
        this.level = 0
        this.etat = "Arreter"
      },
      clickButtonTest: function(index){
        this.buttonList[index].isActive = !this.buttonList[index].isActive
        setTimeout(()=>{this.buttonList[index].isActive = !this.buttonList[index].isActive},200)
      },
      gameTour: function(index){
        this.clickButtonTest(index)
        this.compteur += 1
        this.listButtonClickPlayeur.push(index)
        var listTempPlayeur = this.listButtonClickPlayeur
        var listTemp = this.listButtonClick.slice()
        if(this.level == this.compteur){
          for(let i = 0; i < this.level; i++){
            if(listTemp.pop() == listTempPlayeur.pop()){
              this.compteurBon += 1
            }
          }
          if(this.compteurBon == this.level){
            this.listButtonClickPlayeur = []
            setTimeout(() => this.gameStart(), 500)
          }else{
            this.listButtonClickPlayeur = []
            this.gameStop()
          }
        }    
      },
      switchButton: function(index){
        if(index == 4){
          this.gameStart()
        }else if(index == 5){
          this.gameStop()
        }else{
          this.gameTour(index)
        }
      },
    },
}    
</script>

<style>
button {
    width: 150px;
    height: 100px;
}
.buttons {
    margin: auto;
    max-width: 300px;
}
.premierButton {
    border-color: red;
    border-width: 10px;
    background: whitesmoke;
}
.deuxiemeButton {
    border-color: yellow;
    border-width: 10px;
    background: whitesmoke;
}
.troisiemeButton {
    border-color: blue;
    border-width: 10px;
    background: whitesmoke;
}
.quatriemeButton {
    border-color: green;
    border-width: 10px;
    background: whitesmoke;
}
.premierButtonActif{
    border-color: red;
    border-width: 10px;
    background: whitesmoke;
    background-color: lightcoral;
}
.deuxiemeButtonActif{
    border-color: yellow;
    border-width: 10px;
    background: whitesmoke;
    background-color: lightyellow;
}
.troisiemeButtonActif{
    border-color: blue;
    border-width: 10px;
    background: whitesmoke;
    background-color: lightblue;
}
.quatriemeButtonActif{
    border-color: green;
    border-width: 10px;
    background: whitesmoke;
    background-color: lightgreen;
}
.start{
    border-color: goldenrod;
    border-width: 5px;
    background: lightgray;
}
.stop{
    border-color: goldenrod;
    border-width: 5px;
    background: lightgray;
}
</style>