<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div id="gitlab">
    <a href = "https://gitlab.com/belywin/simon_vue_cli_renaudin_thibault">
      <img src = "../assets/gitlab.png" width="150" height="150" />
      <p>GitLab du projet</p>
    </a>
    <h3>Page d'accueil de Renaudin Thibault</h3>
    <p>Regroupant la liste des jeux développer,</p>
    <p>Lors du cours de web Front au sein de l'université de l'ulco Calais,<p>
    <p>durant la deuxieme année de Master ILL.</p>
    </div>
    <div id="contact">
    <p>Contact Mail:thibault.renaudin59760@gmail.com Twitch: <a href="https://www.twitch.tv/belywin">Page Twitch</a></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
h1 {
    text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#gitlab {
  display: inline-block;
  justify-content: center;
  
}
#contact{
    display: flex;
    justify-content: center;
    background-color: rgb(180,180,180);
    bottom: 1px;
}
</style>
